[submodule "color"]
	path = color
	url = https://github.com/liyanboy74/color.git
[submodule "bmp"]
	path = bmp
	url = https://github.com/liyanboy74/bmp.git
[submodule "dispcolor"]
	path = dispcolor
	url = https://github.com/liyanboy74/dispcolor.git
